<div class="row navbar">
  <div class="col-2"><label for="Logo">ITE PROJECT</label></div>
  <div class="col-10">
    <button class="btn btn-outline-light float-right" (click)="logout()">
      logout
    </button>
  </div>
</div>

<div class="row create-feed-container">
  <div class="col-8 offset-2">
    <div class="create-feed">
      <div class="form-group">
        <label for="postContent">Create a post</label>
        <textarea class="form-control"></textarea>
      </div>
      <button class="btn btn-block btn-primary">Submit</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-8 offset-2">
    <div class="post">
      <div class="row">
        <div class="col-12"><label for="postOwner">Post owner</label></div>
      </div>
      <div class="row">
        <div class="col-12"><label for="postOwner">timestamp</label></div>
      </div>
      <div class="row">
        <div class="col-12">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
            luctus nunc sit amet orci sodales hendrerit. Vivamus neque nulla,
            hendrerit lacinia vehicula sed, rhoncus ac augue. Nullam euismod
            lobortis semper. Integer lobortis vehicula massa, vitae pellentesque
            ipsum consectetur eu. Pellentesque ut lectus finibus, elementum
            tortor id, vulputate tellus.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
