<div class="row navbar">
  <div class="col-2"><label for="Logo">ITE PROJECT</label></div>
  <div class="col-10">
    <button class="btn btn-outline-light float-right" (click)="logout()">
      logout
    </button>
  </div>
</div>

<div class="row create-feed-container">
  <div class="col-8 offset-2">
    <div class="create-feed">
      <div class="form-group">
        <label for="postContent">Create a post</label><br />
        <label for="postContentError" *ngIf="hasNoContent" class="text-error"
          >Content is required</label
        >
        <textarea [(ngModel)]="newPost.content" class="form-control"></textarea>
      </div>
      <button
        class="btn btn-block btn-primary"
        [disabled]="isCreating"
        (click)="createPost()"
      >
        Submit
      </button>
    </div>
  </div>
</div>

<div *ngIf="fetchingPosts" class="col-8 offset-2">
  <p style="text-align: center">Loading Data...</p>
</div>
<div *ngIf="!fetchingPosts">
  <div class="row" *ngFor="let post of posts">
    <div class="col-8 offset-2">
      <div class="post">
        <div class="row">
          <div class="col-10">
            <label for="postOwner" class="post-owner-label">{{
              post.user.complete_name
            }}</label>
          </div>
          <div class="col-2">
            <label for="postOwner" class="timestamp-label float-right">{{
              post.created_at | date: "short"
            }}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p>{{ post.content }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
